.button-container {
    background-color: #FFFFFF;
    margin-top: 18px;
    height: auto;
    padding: 5%;
    border-radius: 8px;
    box-shadow:
        2px 2px 2px #ddddd6, 
        -3px -3px 5px #ddddd6, 
        -3px 3px 5px #ddddd6, 
        3px -3px 5px #ddddd6;
}

.navlink {
    line-height: 30px;
    text-decoration: none;
    color: rgb(36, 34, 34);
    font-size: 1.1rem;
    font-weight: 100;
    border-color: rgb(66, 64, 64);
    text-transform: uppercase;
}

.navlink:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.15rem;
}


.selected-subreddit {
    text-decoration: underline;
}

.icon-image {
    height: 30px;
    width: 30px;
    margin-right: 2%;
}

