.button-container {
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(36, 34, 34);
    padding-left: 5%;
    padding-right: 5%;
}

.header-title-container {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.header-title:hover {
    cursor: pointer;
}

.header-title {
    text-align: left;
    margin-left: 1%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.header-title span {
    color: #278f1d;
}

.green-bean-logo {
    height: 5rem;
    width: 5rem;
}

.green-bean-logo:hover {
    cursor: pointer;
}

.navlink {
    text-decoration: none;
    color: rgb(238, 227, 227);
    font-size: 1.3rem;
    font-weight: 100;
    border-color: rgb(66, 64, 64);
    text-transform: uppercase;
}

.navlink:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.35rem;
}

.active-link {
    text-decoration: underline;
    font-size: 1.35rem;
    font-weight: 600;
}



