

header {
  margin-bottom: 1%;
  background-color: #dddbd4;
  position: sticky;
  top: 0px;
  z-index: 1;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
}




