header {
  background-color: #D9D9D9;
  position: sticky;
  top: 0px;
  z-index: 1;
}

main {
  display: grid;
  grid-template-areas: "aside container open";
  grid-template-columns: 25% 50% 25%;
  
}

aside {
  width: 15%;
  position: fixed;
  z-index: 1;
  grid-area: aside;
}

.container {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  grid-area: container;
}

.aside {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}






