.post {
    background-color: #FFFFFF;
    margin: 0% 0% 2% 1%;
    height: fit-content;
    border-radius: 10px;
    padding: 0px 0px 5px 0px;
    box-shadow:
        2px 2px 2px #ddddd6, 
        -3px -3px 5px #ddddd6, 
        -3px 3px 5px #ddddd6, 
        3px -3px 5px #ddddd6;
}

.post-title {
    color: black;
    padding: 1% 2% 2% 2%;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
}

.post-image {
    max-height: 300px;
    max-width: 400px;
    position: relative;
    float: right ;
    margin-right: 2%;
}

.post-author {
    text-decoration: none;
    padding-left: 2%;
    color: #000000;
    font-weight: 800;
    line-height: 4rem;
}

.post-author:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1rem;
}

