.post {
    width: 45%;
    height: fit-content;
    margin: 1%;
    
    background-color: #f5f2ea;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: #f5f2ea;
    margin-bottom: 1%;
    min-height: 10rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post-image {
    max-width: 100%;
}

section {
    background-color: #f5f2ea;
    border: 2px solid rgb(85, 80, 80);
    border-radius: 8px;
}

.post-title {
    color: black;
    background-color: #cfccc3;
    margin: 0px;
    padding: 1%;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
}

.post-author {
    text-decoration: none;
    padding-left: 1%;
    padding-top: 1%;
    
    color:rgb(27, 26, 26);
    font-weight: 800;
    
}

.post-author:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1rem;
}

