.post {
    width: 45%;
    height: fit-content;
    margin: 1%;
    border-radius: 10px;
    padding: 0px 0px 5px 0px;
    box-shadow:
        2px 2px 2px #ddddd6, 
        -3px -3px 5px #ddddd6, 
        -3px 3px 5px #ddddd6, 
        3px -3px 5px #ddddd6;
}

.post-title {
    color: black;
    margin: 0px;
    padding: 2% 2% 5% 2%;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-image {
    max-width: 100%;
}


.post-author {
    text-decoration: none;
    padding-left: 2%;
    color: #420029;
    font-weight: 800;
    
}

.post-author:hover {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1rem;
}

